<div class="container-fluit main">
    <div class="sticky-top py-3 bg-white">
        <h1>
            Samarqand Davlat Unversiteti <span> Darslar Jadvali </span>
        </h1>
        <h2 class="secondary-title">Fakultetingizni tanlang</h2>
    </div>
    <div class="container timetable">
        <div class="mt-5">
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Dushanba</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each monday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Seshanba</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each tuesday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Chorshanba</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each wednesday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Payshanba</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each thursday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Juma</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each friday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row item mb-4">
                <div class="col-1 header py-4 d-flex align-items-center justify-content-center">
                    <p class="m-0 writing-mode">Shanba</p>
                </div>
                <div class="col">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kirish</th>
                                <th scope="col">Chiqish</th>
                                <th scope="col">Fan nomi</th>
                                <th scope="col">Xona</th>
                                <th scope="col">Fan turi</th>
                                <th scope="col">O'qituvchi</th>
                            </tr>
                        </thead>
                        <tbody>

                            {{#each saturday}}
                            <tr>
                                <th scope="row">1</th>
                                <td>{{this.lessonPair.start_time}}</td>
                                <td>{{this.lessonPair.end_time}}</td>
                                <td>{{this.subject.name}}</td>
                                <td>{{this.auditorium.name}}</td>
                                <td>{{this.trainingType.name}}</td>
                                <td>{{this.employee.name}}</td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>